@model IList<Complain>
@{
    ViewData["Title"] = "Complain Items";
}
<h1>@ViewData["Title"]</h1>

<p>This page shows all Complains Items for customer.</p>

@{
    if (Model != null && Model.Count > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">OrderNumber</th>
                    <th scope="col">ProductID</th>
                    <th scope="col">Describe</th>
                    <th scope="col">Edit</th>
                </tr>
            </thead>
            <tbody>
                @{
                    for (int i = 0; i < Model.Count; ++i)
                    {
                                <tr>
                                    <td>@Model[i].ID</td>
                                    <td>@Model[i].OrderNumber</td>
                                    <td>@Model[i].ProductID</td>
                                    <td>@Model[i].Describe</td>
                                   
                                    <td><a asp-action="Edit" asp-route-ID="@Model[i].ID">edit</a></td>
                                </tr>
                    }
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Complaints are empty.</p>
    }
}
@section Scripts
{
    <script src="~/js/alerts.js"></script>
}